<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/styles/styleCat.css">
    <link rel="stylesheet" href="../assets/styles/style.css">
    <title>www.petshop/catalogoGatos.com</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
   />
   <link rel="stylesheet" href="../assets/styles/styleCat.css">
   <title>www.petshop/catalogoGatos.com</title>
</head>

<body> 
<header>
    
 </header>
 
    
 <!-- Banner -->
<div class="banner">
  <div class="content">
    <h1 class="title">Gatos</h1>
     <a class="btn" href="#" onclick="toggleBanner();"
     >Desliza<ion-icon name="arrow-back-circle-outline"></ion-icon>
     </a>
     <a href="#" class="arrow"  onclick="toggleBanner();"
     ><ion-icon name="arrow-forward-circle-outline"></ion-icon>
    </a>
  </div>
</div>
 
<div class="banner-middle">
  <div class="containerone">
    <!-- Slider main container -->
<div class="swiper-cat">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="../assets/img/banner/gatobanner1.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img src="../assets/img/banner/gatobanner2.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img src="../assets/img/banner/gatobanner3.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img src="../assets/img/banner/gatobanner4.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img src="../assets/img/banner/gatobanner5.jpg" alt="">
    </div>
   </div>
  </div>
  <div class="swiper-cat1">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="../assets/img/banner/gatobanner6.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../assets/img/banner/gatobanner7.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../assets/img/banner/gatobanner8.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../assets/img/banner/bannergato9.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../assets/img/banner/bannergato13.jpg" alt="">
      </div>
     </div>
    </div>
    <div class="swiper-cat2">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="../assets/img/banner/bannergato10.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../assets/img/banner/bannergato11.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../assets/img/banner/bannergato12.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../assets/img/banner/bannergato14.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../assets/img/banner/bannergato15.jpg" alt="">
        </div>
       </div>
      </div>
 </div>
</div>
 <div class="banner-right">
  <h1>Trending</h1>
  <span class="number1">/01</span>
  <div class="contentone">
    <img src="../assets/img/banner/bannerderecha.jpg" alt="">
    <div class="descripcion">
      <h3>Lo nuevo</h3>
      <span>Blog | 18 Feb 2024 |</span>
        <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius ab dolores explicabo molestias tempora ex hic pariatur quo quae,
          rem, architecto dolore aspernatur provident, dolor deleniti debitis repellat optio velit. Itaque quaerat.
        </p>
        <a href="">
          Leer mas<ion-icon name="arrow-forward-outline"></ion-icon>
        </a>
    </div>
  </div>
 </div>


 <main>
   <section class="call-up">
    <div class="call-up-box">
      <ion-icon name="send-outline"></ion-icon>
      <div>
        <h4>Nuevos diseños</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, deserunt?
        </p>
      </div>
    </div>
    <div class="call-up-box">
      <ion-icon name="card-outline"></ion-icon>
      <div>
        <h4>Seguridad en Compra</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, deserunt?
        </p>
      </div>
    </div>
    <div class="call-up-box">
      <ion-icon name="cash-outline"></ion-icon>
      <div>
        <h4>14 dias de devolución</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, deserunt?
        </p>
      </div>
    </div>
   </section>
   <section id="about" class="about">
    <div class="left1">
      <div class="promotion about-box">
        <img src="../assets/img/banner/gatomain1.jpg">
        <div class="description">
          <h4>Pormociones</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, voluptas.</p>
         <a href="#">
          Compra Ahora<ion-icon name="arrow-forward-outline"></ion-icon>
         </a>
        </div>
      </div>
      <div class="style about-box">
        <img src="../assets/img/banner/gatomain2.jpg">
        <div class="description">
          <h4>las Mejores Prendas</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, voluptas.</p>
         <a href="#">
          Compra Ahora<ion-icon name="arrow-forward-outline"></ion-icon>
         </a>
        </div>
      </div>
    </div>
    <div class="right1">
      <div class="collection about-box">
        <img src="../assets/img/banner/gatomain0.jpeg">
        <div class="description">
          <h4>Nuevas Pañueletas</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, voluptas.</p>
         <a href="#">
          Compra Ahora<ion-icon name="arrow-forward-outline"></ion-icon>
         </a>
        </div>
      </div>
      <div class="discovery about-box">
        <img src="../assets/img/banner/gatomain4.jpg">
        <div class="description">
          <h4>Descubre nueva Moda</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, voluptas.</p>
         <a href="#">
          Compra Ahora<ion-icon name="arrow-forward-outline"></ion-icon>
         </a>
        </div>
      </div>
    </div>
   </section>
 </main>


<div id="contenedor" class="contenedor">
    <div>
        <img src="../assets/img/Catalogo/pañueletagato1.jpg" alt="producto 1">
        <div class="informacion">
            <p>Pañueleta</p>
            <p class="precio">$34<span>.990</span></p>
            <button  class="pañuelo1" >Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/pañueletagato2.jpg" alt="producto 2">
        <div class="informacion">
            <p>Pañueleta</p>                   
            <p class="precio">$30<span>.990</span></p>
            <button class="pañuelo2">Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/pañueletagato3.png" alt="producto 3">
        <div class="informacion">
            <p>Pañueleta</p>                   
            <p class="precio">$20<span>.990</span></p>
            <button class="pañuelo3">Comprar</button>
        </div>
    </div>
</div>


  <!-- Catalogo collar -->
 <section>
<div id="contenedor" class="contenedor">
    <div>
        <img src="../assets/img/Catalogo/gatocollar1.jpg" alt="producto 1">
        <div class="informacion">
            <p>Collar</p>
            <p class="precio">$30<span>.000</span></p>
            <button class="collar1">Comprar</button>
        </div>
    </div>
    <div >
        <img src="../assets/img/Catalogo/gatocollar2.jpg" alt="producto 2">
        <div class="informacion">
            <p>Collar</p>                   
            <p class="precio">$29<span>.990</span></p>
            <button class="collar2">Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/gatocollar3.jpg" alt="producto 3">
        <div class="informacion">
            <p>Collar</p>                   
            <p class="precio">$39<span>.990</span></p>
            <button class="collar3">Comprar</button>
        </div>
    </div>
</div>
 </section>


  <!-- Catalogo Arnes -->
  <section>
  <div id="contenedor" class="contenedor">
    <div>
        <img src="../assets/img/Catalogo/arnes1.jpg" alt="producto 1">
        <div class="informacion">
            <p>Arnes</p>
            <p class="precio">$50<span>.000</span></p>
            <button class="arnes1">Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/arnes2.jpg" alt="producto 2">
        <div class="informacion">
            <p>Arnes</p>                   
            <p class="precio">$40<span>.990</span></p>
            <button class="arnes2">Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/arnes3.jpg" alt="producto 3">
        <div class="informacion">
            <p>Arnes</p>                   
            <p class="precio">$35<span>.990</span></p>
            <button class="arnes3">Comprar</button>
        </div>
    </div>
    <div>
</div>
</section>

 <!-- Sueters-->
<section>
    <div id="contenedor" class="contenedor">
      <div>
          <img src="../assets/img/Catalogo/sueter1.jpg" alt="producto 1">
          <div class="informacion">
              <p>Suéter</p>
              <p class="precio">$55<span>.990</span></p>
              <button class="sueter1">Comprar</button>
          </div>
      </div>
      <div>
          <img src="../assets/img/Catalogo/sueter2.png" alt="producto 2">
          <div class="informacion">
              <p>Suéter</p>                   
              <p class="precio">$60<span>.990</span></p>
              <button class="sueter2">Comprar</button>
          </div>
      </div>
      <div>
          <img src="../assets/img/Catalogo/sueter3.png" alt="producto 3">
          <div class="informacion">
              <p>Suéter</p>                   
              <p class="precio">$59<span>990</span></p>
              <button class="sueter3">Comprar</button>
          </div>
      </div>
  </div>
  </section>



 <!-- Modal detalle del producto-->
 
 <!-- Modal detalle del collar1-->
<section>
    <div class="modal1" >
        <div class="container flex">
          <div class="left">
            <div class="main_image">
              <img src="../assets/img/Catalogo/gatocollar1.jpg" class="slide1">
            </div>
            <div class="option flex">
              <img src="../assets/img/Catalogo/gatocollar1.jpg" onclick="image('../assets/img/Catalogo/gatocollar1.jpg')">
              <img src="../assets/img/detallecatalogo/collardetalle1.png" onclick="image('../assets/img/detallecatalogo/collardetalle1.png')">
              <img src="../assets/img/detallecatalogo/collardetalle11.png" onclick="image('../assets/img/detallecatalogo/collardetalle11.png')">
              <img src="../assets/img/detallecatalogo/collardetalle111.png" onclick="image('../assets/img/detallecatalogo/collardetalle111.png')">
            </div>
          </div>
          <div class="right">
            <h3>Collar Floral</h3>
            <h4> <small>$</small>30.000 </h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
            <h5>Color-Tonos claros</h5>
            <div class="color flex1">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
             
            </div>
            <h5>Cantidad</h5>
            <div class="add flex1">
              <span>-</span>
              <label>1</label>
              <span>+</span>
            </div>
            <button class="but">Agregar al carrito</button>
            <br>  <br>  
            <button class="modal_close1">Cerrar</button>
          </div>
        </div>
    </div>
</section>
 

 <!-- Modal detalle del collar2-->
 <section>
    <div class="modal" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/gatocollar2.jpg" class="slide">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/gatocollar2.jpg" onclick="img('../assets/img/Catalogo/gatocollar2.jpg')">
          <img src="../assets/img/detallecatalogo/collardetalle2.png" onclick="img('../assets/img/detallecatalogo/collardetalle2.png')">
          <img src="../assets/img/detallecatalogo/collardetalle22.png" onclick="img('../assets/img/detallecatalogo/collardetalle22.png')">
          <img src="../assets/img/detallecatalogo/collardetalle222.png" onclick="img('../assets/img/detallecatalogo/collardetalle222.png')">
        </div>
      </div>
      <div class="right">
        <h3>Collar Perla</h3>
        <h4> <small>$</small>29.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Rose Gold</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close">Cerrar</button>
      </div>
    </div>
</div>
</section>

 <!-- Modal detalle del collar3-->
<section>
    <div class="modal2" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/gatocollar3.jpg" class="slide2">
        </div>
        <div class="option flex">
          <img src="../assets/img/detallecatalogo/collardetalle3.png" onclick="imgen('../assets/img/detallecatalogo/collardetalle3.png')"">
          <img src="../assets/img/detallecatalogo/collardetalle33.png" onclick="imgen('../assets/img/detallecatalogo/collardetalle33.png')">
          <img src="../assets/img/detallecatalogo/collardetalle333.png" onclick="imgen('../assets/img/detallecatalogo/collardetalle333.png')">
          <img src="../assets/img/Catalogo/gatocollar3.jpg" onclick="imgen('../assets/img/Catalogo/gatocollar3.jpg')">
        </div>
      </div>
      <div class="right">
        <h3>Collar Moño</h3>
        <h4> <small>$</small>39.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Rojo</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close2">Cerrar</button>
      </div>
    </div>
</div>
</section>

 <!-- Modal detalle del pañuelo1-->
<section>
    <div class="modal3" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/pañueletagato1.jpg" class="slide3">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/pañueletagato1.jpg" onclick="img3('../assets/img/Catalogo/pañueletagato1.jpg')">
          <img src="../assets/img/detallecatalogo/pañuelodetalle1.png" onclick="img3('../assets/img/detallecatalogo/pañuelodetalle1.png')">
          <img src="../assets/img/detallecatalogo/pañuelodetalle11.png" onclick="img3('../assets/img/detallecatalogo/pañuelodetalle11.png')">
          <img src="../assets/img/detallecatalogo/pañuelodetalle111.png" onclick="img3('../assets/img/detallecatalogo/pañuelodetalle1.png')">
        </div>
      </div>
      <div class="right">
        <h3>Pañueleta Perlas Artificiales</h3>
        <h4> <small>$</small>34.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Blanco</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close3">Cerrar</button>
      </div>
    </div>
</div>
</section>

 <!-- Modal detalle del pañuelo2-->
<section>
    <div class="modal4" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/pañueletagato2.jpg" class="slide4">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/pañueletagato2.jpg   " onclick="img4('../assets/img/Catalogo/pañueletagato2.jpg')">
          <img src="../assets/img/detallecatalogo/pañuelodetalle2.png" onclick="img4('../assets/img/detallecatalogo/pañuelodetalle2.png')">
          <img src="../assets/img/detallecatalogo/pañuelodetalle22.png" onclick="img4('../assets/img/detallecatalogo/pañuelodetalle22.png')">
          <img src="../assets/img/detallecatalogo/pañuelodetalle222.png" onclick="img4('../assets/img/detallecatalogo/pañuelodetalle222.png')">
        </div>
      </div>
      <div class="right">
        <h3>Pañueleta Perla Artificial</h3>
        <h4> <small>$</small>30.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Rosa con blanco</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close4">Cerrar</button>
      </div>
    </div>
</div>
</section>

 <!-- Modal detalle del pañuelo3-->
 <section>
    <div class="modal5" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/pañueletagato3.png" class="slide5">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/pañueletagato3.png" onclick="img5('../assets/img/Catalogo/pañueletagato3.png')">
          <img src="../assets/img/detallecatalogo/pañuelodetalle3.png" onclick="img5('../assets/img/detallecatalogo/pañuelodetalle3.png')">
          <img src="../assets/img/detallecatalogo/pañuelodetalle33.png" onclick="img5('../assets/img/detallecatalogo/pañuelodetalle33.png')">
          <img src="../assets/img/detallecatalogo/pañuelodetalle333.png" onclick="img5('../assets/img/detallecatalogo/pañuelodetalle333.png')">
        </div>
      </div>
      <div class="right">
        <h3>Pañueleta con tirantes</h3>
        <h4> <small>$</small>20.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Rosa</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close5">Cerrar</button>
      </div>
    </div>
</div>
</section>

<!-- Modal detalle del arnes1-->
<section>
    <div class="modal6" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/arnes1.jpg" class="slide6">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/arnes1.jpg" onclick="img6('../assets/img/Catalogo/arnes1.jpg')">
          <img src="../assets/img/detallecatalogo/arnesdetalle1.png" onclick="img6('../assets/img/detallecatalogo/arnesdetalle1.png')">
          <img src="../assets/img/detallecatalogo/arnesdetalle11.png" onclick="img6('../assets/img/detallecatalogo/arnesdetalle11.png')">
          <img src="../assets/img/detallecatalogo/arnesdetalle111.png" onclick="img6('../assets/img/detallecatalogo/arnesdetalle111.png')">
        </div>
      </div>
      <div class="right">
        <h3>Arnes forma de Alas</h3>
        <h4> <small>$</small>50.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Rosa</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close6">Cerrar</button>
      </div>
    </div>
</div>
</section>

<!-- Modal detalle del arnes2-->
<section>
    <div class="modal7" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/arnes2.jpg" class="slide7">
        </div>
        <div class="option flex">
          <img src="../assets/img/detallecatalogo/arnesdetalle2.png" onclick="img7('../assets/img/detallecatalogo/arnesdetalle2.png')">
          <img src="../assets/img/detallecatalogo/arnesdetalle22.png" onclick="img7('../assets/img/detallecatalogo/arnesdetalle22.png')">
          <img src="../assets/img/detallecatalogo/arnesdetalle222.png" onclick="img7('../assets/img/detallecatalogo/arnesdetalle222.png')">
          <img src="../assets/img/detallecatalogo/arnesdetalle2222.png" onclick="img7('../assets/img/detallecatalogo/arnesdetalle2222.png')">
        </div>
      </div>
      <div class="right">
        <h3>Arnes en forma de Bolso </h3>
        <h4> <small>$</small>40.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Rosa palo </h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close7">Cerrar</button>
      </div>
    </div>
</div>
</section>

<!-- Modal detalle del arnes3-->
<section>
    <div class="modal8" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/arnes3.jpg" class="slide8">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/arnes3.jpg" onclick="img8('../assets/img/Catalogo/arnes3.jpg')">
          <img src="../assets/img/detallecatalogo/arnesdetalle3.png" onclick="img8('../assets/img/detallecatalogo/arnesdetalle3.png')">
          <img src="../assets/img/detallecatalogo/arnesdetalle33.png" onclick="img8('../assets/img/detallecatalogo/arnesdetalle33.png')">
          <img src="../assets/img/detallecatalogo/arnesdetalle333.png" onclick="img8('../assets/img/detallecatalogo/arnesdetalle333.png')">
        </div>
      </div>
      <div class="right">
        <h3>Arnes corbatin </h3>
        <h4> <small>$</small>35.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-negro </h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close8">Cerrar</button>
      </div>
    </div>
</div>
</section>

<!-- Modal detalle del sueter1-->
<section>
    <div class="modal9" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/sueter1.jpg" class="slide9">
        </div>
        <div class="option flex">
          <img src="../assets/img/detallecatalogo/sueterdetalle1.png" onclick="img9('../assets/img/detallecatalogo/sueterdetalle1.png')">
          <img src="../assets/img/detallecatalogo/sueterdetalle11.png" onclick="img9('../assets/img/detallecatalogo/sueterdetalle11.png')">
          <img src="../assets/img/detallecatalogo/sueterdetalle111.png" onclick="img9('../assets/img/detallecatalogo/sueterdetalle111.png')">
          <img src="../assets/img/detallecatalogo/sueterdetalle1111.png" onclick="img9('../assets/img/detallecatalogo/sueterdetalle1111.png')">
        </div>
      </div>
      <div class="right">
        <h3>Suéter manga corta </h3>
        <h4> <small>$</small>55.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-cafe</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close9">Cerrar</button>
      </div>
    </div>
</div>
</section>

<!-- Modal detalle del sueter2-->
<section>
    <div class="modal10" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/sueter2.png" class="slide10">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/sueter2.png" onclick="img10('../assets/img/Catalogo/sueter2.png')">
          <img src="../assets/img/detallecatalogo/sueterdetalle2.png" onclick="img10('../assets/img/detallecatalogo/sueterdetalle2.png')">
          <img src="../assets/img/detallecatalogo/sueterdetalle22.png" onclick="img10('../assets/img/detallecatalogo/sueterdetalle22.png')">
          <img src="../assets/img/detallecatalogo/sueterdetalle222.png" onclick="img10('../assets/img/detallecatalogo/sueterdetalle222.png')">
        </div>
      </div>
      <div class="right">
        <h3>Suéter con lazo </h3>
        <h4> <small>$</small>60.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-azul</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close10">Cerrar</button>
      </div>
    </div>
</div>
</section>

<!-- Modal detalle del sueter3-->
<section>
    <div class="modal11" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/sueter3.png" class="slide11">
        </div>
        <div class="option flex">
          <img src="../assets/img/detallecatalogo/sueterdetalle3.png" onclick="img11('../assets/img/detallecatalogo/sueterdetalle3.png')">
          <img src="../assets/img/detallecatalogo/sueterdetalle33.png" onclick="img11('../assets/img/detallecatalogo/sueterdetalle33.png')">
          <img src="../assets/img/detallecatalogo/sueterdetalle333.png" onclick="img11('../assets/img/detallecatalogo/sueterdetalle333.png')">
          <img src="../assets/img/detallecatalogo/sueterdetalle3333.png" onclick="img11('../assets/img/detallecatalogo/sueterdetalle3333.png')">
        </div>
      </div>
      <div class="right">
        <h3>Suéter estanpado </h3>
        <h4> <small>$</small>59.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-cafe</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close11">Cerrar</button>
      </div>
    </div>
</div>
</section>


<div class="banner-descuent">
   <div class="banner23">
      <div class="gatodes">
          <img src="../assets/img/banner/gatodescuento.webp" >
      </div>
      <div class="content1">
          <span>upto</span>
          <h3>50% 0ff</h3>
          <p>offer ends after 5 days</p>
          <a href="#" class="btn">veiw offer</a>
      </div>
      <div class="women">
          <img src="../assets/img/banner/women.png" alt="">
      </div>
  </div>
</div>




<footer>
   
  </footer>







  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="../controllers/app.js"></script> 
<script src="../controllers/appCat.js"></script>

</body>
</html>