<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>www.petshop/catalogoPerros.com</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/styles/styleDog.css">



</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo"><img src="../assets/img/logopetshop.png" width="180" height="170" class="logo"></div>
            <ul class="nav">
              <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/catalogoPerros.html">Catálogo Perro</a></li>
                <li><a href="#">Catálogo Gato</a></li>
                <li><a href="#">Equipo</a></li>
            </ul>
            <ul class="util">
              <li><a href="#"><ion-icon name="bag-outline"></ion-icon></a>
            <span class="number">8</span>
            </li> 
            </ul>
    </header>
    <main>
        
            <section id="nosotros">
                <div id="carouselExampleCaptions" class="carousel slide">
                  <div class="carousel-indicators">
                    <button
                      type="button"
                      data-bs-target="#carouselExampleCaptions"
                      data-bs-slide-to="0"
                      class="active"
                      aria-current="true"
                      aria-label="Slide 1"
                    ></button>
                    <button
                      type="button"
                      data-bs-target="#carouselExampleCaptions"
                      data-bs-slide-to="1"
                      aria-label="Slide 2"
                    ></button>
                    <button
                      type="button"
                      data-bs-target="#carouselExampleCaptions"
                      data-bs-slide-to="2"
                      aria-label="Slide 3"
                    ></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img
                        src="../assets/img/Catalogo/perro5.jpg" 
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption d-none d-md-block"></div>
                    </div>
                    <div class="carousel-item">
                      <img
                        src="../assets/img/Catalogo/perro2.jpg"
                        class="d-block w-100"
                        alt="..."
                      />              
                    </div>
                    <div class="carousel-item">
                      <img
                        src="../assets/img/Catalogo/perro6.jpg"
                        class="d-block w-100"
                        alt="..."
                      />              
                    </div>
                  </div>
                  <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev"
                  >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next"
                  >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </section>

              <section class="servicios" id="servicios">
                <div class="title-cards">
                  <h2 class="fw-bold mb-5">ACCESORIOS PARA TU PERRO</h2>
                </div>
                <div class="container-card">
                  <div class="card">
                    <figure>
                      <img src="../assets/img/Catalogo/perro5.jpg" />
                    </figure>
                    <div class="contenido-card">
                      <h3>Pañoleta roja</h3>
                      <p>
                        ✔️ Estilo Único y Elegante <br>
                        ✔️ Calidad Superior y Durabilidad <br>
                        ✔️ Fácil de Cuidar: Lavable a Máquina <br>
                        <p class="producto-precio">$10.000</p> <br>
                        <button class=" btn btn-info">Comprar</button>
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <figure>
                      <img src="../assets/img/Catalogo/perro7.jpg" />
                    </figure>
                    <div class="contenido-card">
                      <h3>Pañoleta roja</h3>
                      <p>
                        ✔️ Estilo Único y Elegante <br>
                        ✔️ Calidad Superior y Durabilidad <br>
                        ✔️ Fácil de Cuidar: Lavable a Máquina <br>
                        <p class="producto-precio">$10.000</p> <br>
                        <button class=" btn btn-info">Comprar</button>
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <figure>
                      <img src="../assets/img/Catalogo/perro6.jpg" />
                    </figure>
                    <div class="contenido-card">
                      <h3>Pañoleta roja</h3>
                      <p>
                        ✔️ Estilo Único y Elegante <br>
                        ✔️ Calidad Superior y Durabilidad <br>
                        ✔️ Fácil de Cuidar: Lavable a Máquina <br>
                        <p class="producto-precio">$10.000</p> <br>
                        <button class=" btn btn-info">Comprar</button>
                      </p>
                    </div>
                  </div>
                </div>
            </section>

        



    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script type="module" 
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js">
    </script>
    
    <script nomodule 
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js">
    </script>
</body>
</html>