<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/styles/styleCat.css">
    <title>www.petshop/catalogoGatos.com</title>
</head>

   
<header>
    <nav class="navbar">
       
        <ul class="nav">
          <li><a href="#">Inicio</a></li>
            <li><a href="./views/catalogoPerros.html">Catálogo Perro</a></li>
            <li><a href="./views/catalogoGatos.html">Catálogo Gato</a></li>
            <li><a href="#">Equipo</a></li>
        </ul>
        <ul class="util">
          <li><a href="#"><ion-icon name="bag-outline"></ion-icon></a>
        <span class="number">8</span>
        </li> 
        </ul>
 </header>
 
 <body>    
 <!-- Carrusel -->
 <div class="carousel">
    <div class="list">
         <div class="item">
             <img src="../assets/img/banner/bannergato1.jpg">
             <div class="content">
                 <div class="title">DESCUBRE  LA MODA FELINA </div>
                 <div class="des">
                    ¡Nunca ha sido tan divertido vestir a tu mascota!
                 </div>
             </div>
         </div>
         <div class="item">
             <img src="../assets/img/banner/bannergato2.jpg">
             <div class="content">
                 <div class="title">¡COMPRA AHORA!   </div>
                 <div class="des">
                    Disfruta de envío gratuito en todos los pedidos, Haz que tu mascota se destaque con estilo en PetShop.
                 </div>
             </div>
         </div>
         <div class="item">
             <img src="../assets/img/banner/bannergato3.jpg">
             <div class="content">
                 <div class="title">COMPRA CON CONFIANZA</div>
                  <div class="des">
                     ¡Ofrecemos una garantía de satisfacción del 100%! Si tu mascota no está feliz, ¡nosotros tampoco lo estamos!                 
                    </div>
             </div>
         </div>
         <div class="item">
             <img src="../assets/img/banner/gatobanner.jpg">
             <div class="content">
                 <div class="title"> ¡CELEBRA LAS FIESTAS CON ESTILO! </div>
                <div class="des">
                    Encuentra el atuendo perfecto para tu mascota
                 </div>
             </div>
         </div>
     </div>
    
     <div class="thumbnail">
         <div class="item">
             <img src="../assets/img/banner/bannergato1.jpg">
             <div class="content">
                 <div class="title">
                     
                 </div>
                 <div class="description">
                   
                 </div>
             </div>
         </div>
         <div class="item">
             <img src="../assets/img/banner/bannergato2.jpg">
             <div class="content">
                 <div class="title">
                   
                 </div>
                 <div class="description">
                     
                 </div>
             </div>
         </div>
         <div class="item">
             <img src="../assets/img/banner/bannergato3.jpg">
             <div class="content">
                 <div class="title">
                   
                 </div>
                 <div class="description">
                    
                 </div>
             </div>
         </div>
         <div class="item">
             <img src="../assets/img/banner/gatobanner.jpg">
             <div class="content">
                 <div class="title">
                     
                 </div>
                 <div class="description">
                   
                 </div>
             </div>
         </div>
     </div>
    <div class="arrows">
         <button id="prev"><</button>
         <button id="next">></button>
     </div>
   <div class="time"></div>
 </div>
 
 <br>  <br>  <br>  <br>

 <br>  <br>  <br>  <br>


<div id="contenedor" class="contenedor">
    <div>
        <img src="../assets/img/Catalogo/pañueltagato1.jpg" alt="producto 1">
        <div class="informacion">
            <p>Pañueleta</p>
            <p class="precio">$30<span>.000</span></p>
            <button  id="btnComprar1" >Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/pañueletagato2.jpg" alt="producto 2">
        <div class="informacion">
            <p>Pañueleta</p>                   
            <p class="precio">$27<span>.500</span></p>
            <button id="btnComprar2">Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/pañueltagato3.jpg" alt="producto 3">
        <div class="informacion">
            <p>Pañueleta</p>                   
            <p class="precio">$20<span>.990</span></p>
            <button id="btnComprar3">Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/pañueltagato4.jpg" alt="producto 4">
        <div class="informacion">
            <p>Pañueleta</p>                   
            <p class="precio">$35<span>.500</span></p>
            <button>Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/pañueltagato5.jpg" alt="producto 5">
        <div class="informacion">
            <p>Pañueleta</p>                   
            <p class="precio">$30<span>.200</span></p>
            <button>Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/pañueletagato6.jpg" alt="producto 6">
        <div class="informacion">
            <p>Pañueleta</p>                   
            <p class="precio">$34<span>.200</span></p>
            <button>Comprar</button>
        </div>
    </div>
    <div>
</div>

  <!-- Catalogo collar -->
  <section>
<div id="contenedor" class="contenedor">
    <div>
        <img src="../assets/img/Catalogo/gatocollar1.jpg" alt="producto 1">
        <div class="informacion">
            <p>Collar</p>
            <p class="precio">$30<span>.000</span></p>
            <button class="collar1">Comprar</button>
        </div>
    </div>
    <div >
        <img src="../assets/img/Catalogo/gatocollar2.jpg" alt="producto 2">
        <div class="informacion">
            <p>Collar</p>                   
            <p class="precio">$27<span>.500</span></p>
            <button class="collar2" id="btnComprar1">Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/gatocollar3.jpg" alt="producto 3">
        <div class="informacion">
            <p>Collar</p>                   
            <p class="precio">$39<span>.990</span></p>
            <button>Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/gatocollar4.jpg" alt="producto 4">
        <div class="informacion">
            <p>Collar</p>                   
            <p class="precio">$35<span>.500</span></p>
            <button>Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/gatocollar5.jpg" alt="producto 5">
        <div class="informacion">
            <p>Collar</p>                   
            <p class="precio">$30<span>.200</span></p>
            <button>Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/gatocollar6.jpg" alt="producto 6">
        <div class="informacion">
            <p>Collar</p>                   
            <p class="precio">$34<span>.200</span></p>
            <button>Comprar</button>
        </div>
    </div>
    <div>
</div>
</section>


  <!-- Catalogo sweater -->
  <section>
  <div id="contenedor" class="contenedor">
    <div>
        <img src="../assets/img/Catalogo/gatosweter1.jpg" alt="producto 1">
        <div class="informacion">
            <p>Sweater</p>
            <p class="precio">$30<span>.000</span></p>
            <button>Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/gatosweter2.jpg" alt="producto 2">
        <div class="informacion">
            <p>Sweater</p>                   
            <p class="precio">$27<span>.500</span></p>
            <button>Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/gatosweter3.jpg" alt="producto 3">
        <div class="informacion">
            <p>Sweater</p>                   
            <p class="precio">$29<span>.990</span></p>
            <button>Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/gatosweter4.jpg" alt="producto 4">
        <div class="informacion">
            <p>Sweater</p>                   
            <p class="precio">$35<span>.500</span></p>
            <button>Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/gatosweter5.jpg" alt="producto 5">
        <div class="informacion">
            <p>Sweater</p>                   
            <p class="precio">$30<span>.200</span></p>
            <button>Comprar</button>
        </div>
    </div>
    <div>
        <img src="../assets/img/Catalogo/gatosweter6.jpg" alt="producto 6">
        <div class="informacion">
            <p>Sweater</p>                   
            <p class="precio">$34<span>.200</span></p>
            <button>Comprar</button>
        </div>
    </div>
    <div>
</div>
</section>

 <!-- Disfrases-->
<section>
    <div id="contenedor" class="contenedor">
      <div>
          <img src="../assets/img/Catalogo/gatodisfras1.jpg" alt="producto 1">
          <div class="informacion">
              <p>Disfrases</p>
              <p class="precio">$30<span>.000</span></p>
              <button>Comprar</button>
          </div>
      </div>
      <div>
          <img src="../assets/img/Catalogo/gatodifras2.jpg" alt="producto 2">
          <div class="informacion">
              <p>Disfrases</p>                   
              <p class="precio">$27<span>.500</span></p>
              <button>Comprar</button>
          </div>
      </div>
      <div>
          <img src="../assets/img/Catalogo/gatodisfras3.jpg" alt="producto 3">
          <div class="informacion">
              <p>Disfrases</p>                   
              <p class="precio">$60<span>990</span></p>
              <button>Comprar</button>
          </div>
      </div>
      <div>
          <img src="../assets/img/Catalogo/gatodisfras4.jpg" alt="producto 4">
          <div class="informacion">
              <p>Disfrases</p>                   
              <p class="precio">$35<span>.500</span></p>
              <button>Comprar</button>
          </div>
      </div>
      <div>
          <img src="../assets/img/Catalogo/gatodisfras5.jpg" alt="producto 5">
          <div class="informacion">
              <p>Disfrases</p>                   
              <p class="precio">$30<span>.200</span></p>
              <button>Comprar</button>
          </div>
      </div>
      <div>
          <img src="../assets/img/Catalogo/gatodisfras6.jpg" alt="producto 6">
          <div class="informacion">
              <p>Disfrases</p>                   
              <p class="precio">$34<span>.200</span></p>
              <button>Comprar</button>
          </div>
      </div>
      <div>
  </div>
  </section>


 <!-- Modal detalle del producto-->

 <section>
    <div class="modal" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/gatocollar2.jpg" class="slide">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/gatocollar2.jpg" onclick="img('../assets/img/Catalogo/gatocollar2.jpg')">
          <img src="../assets/img/detallecatalogo/collardetalle2.png" onclick="img('../assets/img/detallecatalogo/collardetalle2.png')">
          <img src="../assets/img/detallecatalogo/collardetalle22.png" onclick="img('../assets/img/detallecatalogo/collardetalle22.png')">
          <img src="../assets/img/detallecatalogo/collardetalle222.png" onclick="img('../assets/img/detallecatalogo/collardetalle222.png')">
        </div>
      </div>
      <div class="right">
        <h3>Collar Rosa</h3>
        <h4> <small>$</small>27.500 </h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Rose Gold</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close">Cerrar</button>
      </div>
    </div>
</div>
  </section>

  <section>
    <!-- Modal dinámico para detalles de producto -->
    <div id="dynamicProductModal" class="modal1">
        <div class="modal-content1 container flex">
            <div class="left">
                <div class="main_image">
                    <img id="modalProductImage" alt="Producto" class="slide">
                </div>
                <div class="option flex">
                    <!-- Puedes agregar las miniaturas aquí si es necesario -->
                </div>
            </div>
            <div class="right">
                <h3 id="modalProductTitle" class="h3"></h3>
                <h4 id="modalProductPrice" class="precio"><small>$</small></h4>
                <p id="modalProductDescription" class="p"></p>
                <h5 class="h5">Color-Rose Gold</h5>
                <div class="color flex1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <h5 class="h5">Cantidad</h5>
                <div class="add flex1">
                    <span class="add-span">-</span>
                    <label class="add-label">1</label>
                    <span class="add-span">+</span>
                </div>
                <button class="but" onclick="cerrarModal('dynamicProductModal')">Agregar al carrito</button>
                <br> <br>
                <button class="modal_close close1" onclick="cerrarModal('dynamicProductModal')">Cerrar</button>
            </div>
        </div>
    </div>
</section>








 <script type="module" 
     src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js">
     </script>
     
     <script nomodule 
     src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js">
     </script>

<script nomodule 
src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js">
</script>

<script src="../controllers/app.js"></script>
<script src="../controllers/modal.js"></script>
</body>
</html>