<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>www.petshop/catalogoPerros.com</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../assets/styles/styleDog.css">
    <link rel="stylesheet" href="../assets/styles/style.css">

   



</head>
<body>
  <header id="navbarprincipal">
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="../assets/img/logooo.png"
            alt="Logo"
            class="logo"
            width="350"
          />
        </a>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#acerca-de">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#servicios">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/catalogoPerros.html">Catálogo Perros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/catalogoGatos.html">Catálogo Gatos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#equipo">Equipo</a>
          </li>
        </ul>
        <ul class="util" id="openSidebar" onclick="openSidebar()">
          <li><a href="#"><ion-icon name="bag-outline"></ion-icon></a>
            <span class="number"></span>
          </li>
        </ul>
      </div>
    </nav>
</header>

<!-- Sidebar -->
<div id="sidebar">
  <p class="closebtn" onclick="closeSidebar()">&times;</p>
  <div id="cartContent"></div>
</div>

   <!-- Banner-->
   <div class="banner">
    <div class="content">
      <h1 class="title">Perros</h1>
       <a class="btn" href="#" onclick="toggleBanner();"
       >Desliza<ion-icon name="arrow-back-circle-outline"></ion-icon>
       </a>
       <a href="#" class="arrow"  onclick="toggleBanner();"
       ><ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </a>
    </div>
  </div>
    <div class="banner-middle">
        <div class="containerone">
          <!-- Slider main container -->
      <div class="swiper-dog">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img src="../assets/img/banner/bannerperro1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/banner/bannerperro2.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/banner/bannerperro3.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/banner/bannerperro4.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/banner/bannerperro5.jpg" alt="">
          </div>
         </div>
        </div>
        <div class="swiper-dog1">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img src="../assets/img/banner/bannerperro6.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/banner/bannerperro7.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/banner/bannerperro8.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/banner/bannerperro9.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/banner/bannerperro10.jpg" alt="">
            </div>
           </div>
          </div>
          <div class="swiper-dog2">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <img src="../assets/img/banner/bannerperro11.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../assets/img/banner/bannerperro12.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../assets/img/banner/bannerperro13.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../assets/img/banner/bannerperro14.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../assets/img/banner/bannerperro15.jpg" alt="">
              </div>
             </div>
            </div>
       </div>
      </div>
      <div class="banner-right">
        <h1>Trending</h1>
        <span class="number">/02</span>
        <div class="contentone">
          <img src="../assets/img/banner/bannerperroderecha.jpg" alt="">
          <div class="descripcion">
            <h3>Lo nuevo</h3>
            <span>Blog | 19 Feb 2024 |</span>
              <p>
              Los mejores productos ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum vero placeat aliquam consequatur esse.
              </p>
              <a href="">
                Leer más<ion-icon name="arrow-forward-outline"></ion-icon>
              </a>
          </div>
        </div>
       </div>

       <main>
        <section class="call-up">
         <div class="call-up-box">
           <ion-icon name="send-outline"></ion-icon>
           <div>
             <h4>Nuevos diseños</h4>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, deserunt?
             </p>
           </div>
         </div>
         <div class="call-up-box">
           <ion-icon name="card-outline"></ion-icon>
           <div>
             <h4>Seguridad en Compra</h4>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, deserunt?
             </p>
           </div>
         </div>
         <div class="call-up-box">
           <ion-icon name="cash-outline"></ion-icon>
           <div>
             <h4>14 dias de devolución</h4>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, deserunt?
             </p>
           </div>
         </div>
        </section>
        <section id="about" class="about">
         <div class="left1">
           <div class="promotion about-box">
             <img src="../assets/img/banner/mainperro1.webp">
             <div class="description">
               <h4>Pormociones</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, voluptas.</p>
              <a href="#">
               Compra Ahora<ion-icon name="arrow-forward-outline"></ion-icon>
              </a>
             </div>
           </div>
           <div class="style about-box">
             <img src="../assets/img/banner/mainperro2.webp">
             <div class="description">
               <h4>las Mejores Prendas</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, voluptas.</p>
              <a href="#">
               Compra Ahora<ion-icon name="arrow-forward-outline"></ion-icon>
              </a>
             </div>
           </div>
         </div>
         <div class="right1">
           <div class="collection about-box">
             <img src="../assets/img/banner/mainperro3.jpeg">
             <div class="description">
               <h4>Nuevas Pañueletas</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, voluptas.</p>
              <a href="#">
               Compra Ahora<ion-icon name="arrow-forward-outline"></ion-icon>
              </a>
             </div>
           </div>
           <div class="discovery about-box">
             <img src="../assets/img/banner/mainperro4.webp">
             <div class="description">
               <h4>Descubre nueva Moda</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, voluptas.</p>
              <a href="#">
               Compra Ahora<ion-icon name="arrow-forward-outline"></ion-icon>
              </a>
             </div>
           </div>
         </div>
        </section>
      </main>


      <div id="contenedor" class="contenedor">
        <div>
            <img src="../assets/img/Catalogo/pañueletaperro1.jpg" alt="producto 1">
            <div class="informacion">
                <p>Pañueleta</p>
                <p class="precio">$20<span>.990</span></p>
                <button  class="dog15" >Comprar</button>
            </div>
        </div>
        <div>
            <img src="../assets/img/Catalogo/pañueletaperro2.jpg" alt="producto 2">
            <div class="informacion">
                <p>Pañueleta</p>                   
                <p class="precio">$25<span>.990</span></p>
                <button class="dog16">Comprar</button>
            </div>
        </div>
        <div>
            <img src="../assets/img/Catalogo/pañueletaperro3.jpg" alt="producto 3">
            <div class="informacion">
                <p>Pañueleta</p>                   
                <p class="precio">$30<span>.990</span></p>
                <button class="dog17">Comprar</button>
            </div>
        </div>
    </div>
  
    
    <!-- Catalogo collar Perro-->
 <section>
    <div id="contenedor" class="contenedor">
        <div>
            <img src="../assets/img/Catalogo/collarperro1.png" alt="producto 1">
            <div class="informacion">
                <p>Collar</p>
                <p class="precio">$30<span>.000</span></p>
                <button class="dog12">Comprar</button>
            </div>
        </div>
        <div >
            <img src="../assets/img/Catalogo/collarperro2.png" alt="producto 2">
            <div class="informacion">
                <p>Collar</p>                   
                <p class="precio">$35<span>.990</span></p>
                <button class="dog13">Comprar</button>
            </div>
        </div>
        <div>
            <img src="../assets/img/Catalogo/collarperro3.png" alt="producto 3">
            <div class="informacion">
                <p>Collar</p>                   
                <p class="precio">$29<span>.990</span></p>
                <button class="dog14">Comprar</button>
            </div>
        </div>
    </div>
</section>

 <!-- Catalogo collar Arnes-->
<section>
    <div id="contenedor" class="contenedor">
      <div>
          <img src="../assets/img/Catalogo/arnesperro1.jpg" alt="producto 1">
          <div class="informacion">
              <p>Arnes</p>
              <p class="precio">$55<span>.000</span></p>
              <button class="dog18">Comprar</button>
          </div>
      </div>
      <div>
          <img src="../assets/img/Catalogo/arnesperro2.jpg" alt="producto 2">
          <div class="informacion">
              <p>Arnes</p>                   
              <p class="precio">$50<span>.990</span></p>
              <button class="dog19">Comprar</button>
          </div>
      </div>
      <div>
          <img src="../assets/img/Catalogo/arnesperro3.png" alt="producto 3">
          <div class="informacion">
              <p>Arnes</p>                   
              <p class="precio">$40<span>.990</span></p>
              <button class="dog20">Comprar</button>
          </div>
      </div>
      <div>
  </div>
  </section>

  <!--Catalogo Sueters-->
<section>
    <div id="contenedor" class="contenedor">
      <div>
          <img src="../assets/img/Catalogo/sueterperro1.jpg" alt="producto 1">
          <div class="informacion">
              <p>Suéter</p>
              <p class="precio">$46<span>.990</span></p>
              <button class="dog21">Comprar</button>
          </div>
      </div>
      <div>
          <img src="../assets/img/Catalogo/sueterperro2.jpg" alt="producto 2">
          <div class="informacion">
              <p>Suéter</p>                   
              <p class="precio">$60<span>.990</span></p>
              <button class="dog22">Comprar</button>
          </div>
      </div>
      <div>
          <img src="../assets/img/Catalogo/sueterperro3.jpg" alt="producto 3">
          <div class="informacion">
              <p>Suéter</p>                   
              <p class="precio">$61<span>990</span></p>
              <button class="dog23">Comprar</button>
          </div>
      </div>
  </div>
  </section>

   


 <!-- Modal detalle del producto-->
 
 <!-- Modal detalle del collar1-->
<section>
    <div class="modal12" >
        <div class="container flex">
          <div class="left">
            <div class="main_image">
              <img src="../assets/img/Catalogo/collarperro1.png" class="slide12">
            </div>
            <div class="option flex">
              <img src="../assets/img/Catalogo/collarperro1.png" onclick="img12('../assets/img/Catalogo/collarperro1.png')">
              <img src="../assets/img/detallecatalogo/detallecollarperro1.png" onclick="img12('../assets/img/detallecatalogo/detallecollarperro1.png')">
              <img src="../assets/img/detallecatalogo/detallecollarperro11.png" onclick="img12('../assets/img/detallecatalogo/detallecollarperro11.png')">
              <img src="../assets/img/detallecatalogo/detallecollarperro111.png" onclick="img12('../assets/img/detallecatalogo/detallecollarperro111.png')">
            </div>
          </div>
          <div class="right">
            <h3>Collar Cadena</h3>
            <h4> <small>$</small>30.000 </h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
            <h5>Color-Dorado Plata</h5>
            <div class="color flex1">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
             
            </div>
            <h5>Cantidad</h5>
            <div class="add flex1">
              <span>-</span>
              <label>1</label>
              <span>+</span>
            </div>
            <button class="but">Agregar al carrito</button>
            <br>  <br>  
            <button class="modal_close12">Cerrar</button>
          </div>
        </div>
    </div>
</section>
 

 <!-- Modal detalle del collar2-->
 <section>
    <div class="modal13" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/collarperro2.png" class="slide13">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/collarperro2.png" onclick="img13('../assets/img/Catalogo/collarperro2.png')">
          <img src="../assets/img/detallecatalogo/detallecollarperro2.png" onclick="img13('../assets/img/detallecatalogo/detallecollarperro2.png')">
          <img src="../assets/img/detallecatalogo/detallecollarperro22.png" onclick="img13('../assets/img/detallecatalogo/detallecollarperro22.png')">
          <img src="../assets/img/detallecatalogo/detallecollarperro222.png" onclick="img13('../assets/img/detallecatalogo/detallecollarperro222.png')">
        </div>
      </div>
      <div class="right">
        <h3>Collar de Cuero</h3>
        <h4> <small>$</small>35.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Cafe</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close13">Cerrar</button>
      </div>
    </div>
</div>
</section>

 <!-- Modal detalle del collar3-->
 <section>
    <div class="modal14" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/collarperro3.png" class="slide14">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/collarperro2.png" onclick="img14('../assets/img/Catalogo/collarperro2.png')">
          <img src="../assets/img/detallecatalogo/detallecollarperro3.png" onclick="img14('../assets/img/detallecatalogo/detallecollarperro3.png')">
          <img src="../assets/img/detallecatalogo/detallecollarperro33.png" onclick="img14('../assets/img/detallecatalogo/detallecollarperro33.png')">
          <img src="../assets/img/detallecatalogo/detallecollarperro333.png" onclick="img14('../assets/img/detallecatalogo/detallecollarperro333.png')">
        </div>
      </div>
      <div class="right">
        <h3>Collar Estampado</h3>
        <h4> <small>$</small>29.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Rose</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close14">Cerrar</button>
      </div>
    </div>
</div>
</section>


<!-- Modal detalle del pañuelo1-->
<section>
    <div class="modal15" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/pañueletaperro1.jpg" class="slide15">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/pañueletaperro1.jpg" onclick="img15('../assets/img/Catalogo/pañueletaperro1.jpg')">
          <img src="../assets/img/detallecatalogo/detallepañueloperro1.png" onclick="img15('../assets/img/detallecatalogo/detallepañueloperro1.png')">
          <img src="../assets/img/detallecatalogo/detallepañueloperro11.png" onclick="img15('../assets/img/detallecatalogo/detallepañueloperro11.png')">
          <img src="../assets/img/detallecatalogo/detallepañueloperro111.png" onclick="img15('../assets/img/detallecatalogo/detallepañueloperro111.png')">
        </div>
      </div>
      <div class="right">
        <h3>Collar Estampado</h3>
        <h4> <small>$</small>20.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Rojo</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but" onclick="agregarAlCarrito()">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close15">Cerrar</button>
      </div>
    </div>
</div>
</section>

<!-- Modal detalle del pañuelo2-->
<section>
    <div class="modal16" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/pañueletaperro2.jpg" class="slide16">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/pañueletaperro2.jpg" onclick="img16('../assets/img/Catalogo/pañueletaperro2.jpg')">
          <img src="../assets/img/detallecatalogo/detallepañueloperro2.png" onclick="img16('../assets/img/detallecatalogo/detallepañueloperro2.png')">
          <img src="../assets/img/detallecatalogo/detallepañueloperro22.png" onclick="img16('../assets/img/detallecatalogo/detallepañueloperro22.png')">
          <img src="../assets/img/detallecatalogo/detallepañueloperro222.png" onclick="img16('../assets/img/detallecatalogo/detallepañueloperro222.png')">
        </div>
      </div>
      <div class="right">
        <h3>Collar Guellitas</h3>
        <h4> <small>$</small>25.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Rojo</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close16">Cerrar</button>
      </div>
    </div>
</div>
</section>
   
<!-- Modal detalle del pañuelo3-->
<section>
    <div class="modal17" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/pañueletaperro3.jpg" class="slide17">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/pañueletaperro3.jpg" onclick="img17('../assets/img/Catalogo/pañueletaperro3.jpg')">
          <img src="../assets/img/detallecatalogo/detallepañueloperro3.png" onclick="img17('../assets/img/detallecatalogo/detallepañueloperro3.png')">
          <img src="../assets/img/detallecatalogo/detallepañueloperro33.png" onclick="img17('../assets/img/detallecatalogo/detallepañueloperro33.png')">
          <img src="../assets/img/detallecatalogo/detallepañueloperro333.png" onclick="img17('../assets/img/detallecatalogo/detallepañueloperro333.png')">
        </div>
      </div>
      <div class="right">
        <h3>Collar Astronauta</h3>
        <h4> <small>$</small>30.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Azul</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close17">Cerrar</button>
      </div>
    </div>
</div>
</section>


<!-- Modal detalle del arnes1-->
<section>
    <div class="modal18" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/arnesperro1.jpg" class="slide18">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/arnesperro1.jpg" onclick="img18('../assets/img/Catalogo/arnesperro1.jpg')">
          <img src="../assets/img/detallecatalogo/detallearnesperro1.png" onclick="img18('../assets/img/detallecatalogo/detallearnesperro1.png')">
          <img src="../assets/img/detallecatalogo/detallearnesperro11.png" onclick="img18('../assets/img/detallecatalogo/detallearnesperro11.png')">
          <img src="../assets/img/detallecatalogo/detallearnesperro111.png" onclick="img18('../assets/img/detallecatalogo/detallearnesperro111.png')">
        </div>
      </div>
      <div class="right">
        <h3>Arnes Reflectivo</h3>
        <h4> <small>$</small>55.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Azul</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close18">Cerrar</button>
      </div>
    </div>
</div>
</section>
    

<!-- Modal detalle del arnes2-->
<section>
    <div class="modal19" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/arnesperro2.jpg" class="slide19">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/arnesperro2.jpg" onclick="img19('../assets/img/Catalogo/arnesperro2.jpg')">
          <img src="../assets/img/detallecatalogo/detallearnesperro2.png" onclick="img19('../assets/img/detallecatalogo/detallearnesperro2.png')">
          <img src="../assets/img/detallecatalogo/detallearnesperro22.png" onclick="img19('../assets/img/detallecatalogo/detallearnesperro22.png')">
          <img src="../assets/img/detallecatalogo/detallearnesperro222.png" onclick="img19('../assets/img/detallecatalogo/detallearnesperro222.png')">
        </div>
      </div>
      <div class="right">
        <h3>Arnes Cuero</h3>
        <h4> <small>$</small>50.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Azul</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close19">Cerrar</button>
      </div>
    </div>
</div>
</section>


<!-- Modal detalle del arnes3-->
<section>
    <div class="modal20" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/arnesperro3.png" class="slide20">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/arnesperro3.png" onclick="img20('../assets/img/Catalogo/arnesperro3.png')">
          <img src="../assets/img/detallecatalogo/detallearnesperro3.png" onclick="img20('../assets/img/detallecatalogo/detallearnesperro3.png')">
          <img src="../assets/img/detallecatalogo/detallearnesperro33.png" onclick="img20('../assets/img/detallecatalogo/detallearnesperro33.png')">
          <img src="../assets/img/detallecatalogo/detallearnesperro333.png" onclick="img20('../assets/img/detallecatalogo/detallearnesperro333.png')">
        </div>
      </div>
      <div class="right">
        <h3>Arnes Bordes</h3>
        <h4> <small>$</small>40.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Gris</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close20">Cerrar</button>
      </div>
    </div>
</div>
</section>


<!-- Modal detalle del sueter1-->
<section>
    <div class="modal21" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/sueterperro1.jpg" class="slide21">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/sueterperro1.jpg" onclick="img21('../assets/img/Catalogo/sueterperro1.jpg')">
          <img src="../assets/img/detallecatalogo/detallesueterperro1.png" onclick="img21('../assets/img/detallecatalogo/detallesueterperro1.png')">
          <img src="../assets/img/detallecatalogo/detallesueterperro11.png" onclick="img21('../assets/img/detallecatalogo/detallesueterperro11.png')">
          <img src="../assets/img/detallecatalogo/detallesueterperro111.png" onclick="img21('../assets/img/detallecatalogo/detallesueterperro111.png')">
        </div>
      </div>
      <div class="right">
        <h3>Sueter con Moño</h3>
        <h4> <small>$</small>46.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Gris</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close21">Cerrar</button>
      </div>
    </div>
</div>
</section>


<!-- Modal detalle del sueter2-->
<section>
    <div class="modal22" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/sueterperro2.jpg" class="slide22">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/sueterperro2.jpg" onclick="img22('../assets/img/Catalogo/sueterperro2.jpg')">
          <img src="../assets/img/detallecatalogo/detallesueterperro2.png" onclick="img22('../assets/img/detallecatalogo/detallesueterperro2.png')">
          <img src="../assets/img/detallecatalogo/detallesueterperro22.png" onclick="img22('../assets/img/detallecatalogo/detallesueterperro22.png')">
          <img src="../assets/img/detallecatalogo/detallesueterperro222.png" onclick="img22('../assets/img/detallecatalogo/detallesueterperro222.png')">
        </div>
      </div>
      <div class="right">
        <h3>Sueter patron de Rayas</h3>
        <h4> <small>$</small>60.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Gris</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close22">Cerrar</button>
      </div>
    </div>
</div>
</section>

<!-- Modal detalle del sueter3-->
<section>
    <div class="modal23" >
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="../assets/img/Catalogo/sueterperro3.jpg" class="slide23">
        </div>
        <div class="option flex">
          <img src="../assets/img/Catalogo/sueterperro3.jpg" onclick="img23('../assets/img/Catalogo/sueterperro3.jpg')">
          <img src="../assets/img/detallecatalogo/detallesueterperro3.png" onclick="img23('../assets/img/detallecatalogo/detallesueterperro3.png')">
          <img src="../assets/img/detallecatalogo/detallesueterperro33.png" onclick="img23('../assets/img/detallecatalogo/detallesueterperro33.png')">
          <img src="../assets/img/detallecatalogo/detallesueterperro333.png" onclick="img23('../assets/img/detallecatalogo/detallesueterperro333.png')">
        </div>
      </div>
      <div class="right">
        <h3>Sueter con Bolitas</h3>
        <h4> <small>$</small>61.990</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt sequi est repudiandae qui commodi quis repellat tempore laudantium. Neque, error! </p>
        <h5>Color-Gris</h5>
        <div class="color flex1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
        <h5>Cantidad</h5>
        <div class="add flex1">
          <span>-</span>
          <label>1</label>
          <span>+</span>
        </div>
        <button class="but">Agregar al carrito</button>
        <br>  <br>  
        <button class="modal_close23">Cerrar</button>
      </div>
    </div>
</div>
</section>


<div class="banner-descuent">
    <div class="banner23">
       <div class="perrodes">
           <img src="../assets/img/banner/perrodescuento.png" >
       </div>
       <div class="content1">
           <span>upto</span>
           <h3>50% 0ff</h3>
           <p>offer ends after 5 days</p>
           <a href="#" class="btn">veiw offer</a>
       </div>
       <div class="women">
           <img src="../assets/img/banner/women.png" alt="">
       </div>
   </div>
 </div>



<footer>
        
    </footer>
   
   
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="../controllers/appDog.js"></script>
<script src="../controllers/appModalDog.js"></script>
<script src="../controllers/sidebar.js"></script>

</body>
</html>