@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

:root {
    --primary: #ff0051;
    --second: #000000;
    --third: #f2f2f2;
}

body{
    position: relative;
    background-color: #ffffff;
    width: 100%; 
    
    
}

/* Banner */
.banner{
    position: relative;
    width: 45%;
    min-height: 100vh;
    padding: 0 60px;
    background: #ffffff;
    overflow: hidden;
    transition: ease-in-out 1s;
    z-index: 10;
}
.banner.active{
   width: 10%;
   transition: ease-in-out 1s; 
}
.banner .content{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.banner .content h1{
    font-family: 'Poppins', sans-serif;
    font-size: 7em;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    margin-bottom: 20px;
    transition: 1s;
    transition-delay: 0.5s;
}
.banner.active .content h1{
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    transform: translateX(-100%);
}
.banner .content a.btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #000000;  
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 10px 30px;
    border: 1px solid rgba(0, 0, 0, 1);
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
.banner .content a.btn ion-icon{
    font-size: 1.1em;
}
.banner .content a.btn:hover{
    gap: 30px;
}
.banner .content .arrow{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    border: none;
    z-index: 100;
}

.banner .content .arrow ion-icon{
    font-size: 2em;
    transition: 0.5s;
}
.banner .content .arrow:hover ion-icon{
  color: var(--primary);
}
.banner.active .content .arrow{
    opacity: 1;
    visibility: visible;
}
.banner.active .content a.btn{
    opacity: 0;
    visibility: hidden;
}
.banner-middle{
    position: absolute;
    top: 0;
    left: 45%;
    width: 45%;
    min-height: 30vh;
    padding: 0 10px;
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
    transition: ease-in-out 1s;
    transition-delay: 0.2s;
}
.banner-middle.active{
    left: 10%;
}

.banner-middle .containerone{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.swiper-dog,
.swiper-dog1,
.swiper-dog2{
    width: 100%;
    height: 100vh;   
}
.swiper-slide{
    cursor: pointer;
    transition: 0.3s;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner-right{
    position: absolute;
    top: 0;
    left: 90%;
    width: 45%;
    height: 100vh;
    padding: 50px 40px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
    transition: ease-in-out 1s;
    transition-delay: 0,4s;
}
.banner-right.active{
    left: 55%;
}
.banner-right h1{
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 1;
    visibility: visible;
    margin-bottom: 20px;
    transition: 0.5s;
    transform-origin: left;
    line-height: 1em;
}
.banner-right .number{
    position: absolute;
    font-size: 5em;
    top: 10%;
    right: 15%;
}
.banner-right .contentone{
    display: flex;
    border-top: 1px solid;
    border-image: linear-gradient(90deg, #000000, transparent, transparent)30;
}

.contentone img {
    padding: 20px;
    max-width: 55%;
    object-fit: cover;
    border-left: 1px solid;
    border-image: linear-gradient( #000000, transparent, transparent) 30;
}
.contentone .descripcion {
    padding: 20px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(  transparent, transparent,#000000) 30;
}
.contentone .descripcion h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.contentone .descripcion span{
    text-transform: uppercase;
    font-weight: 300;
}
.contentone .descripcion p {
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.contentone .descripcion a{
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
}
.contentone .descripcion a ion-icon{
    margin-left: 3px;
    transition: 0.5s;
}
.contentone .descripcion a:hover{
    color: var(--primary),
}
/*Main*/
main{
    width: 100%;
    padding: 100px 0;
    background: #ffffff;
 }
.call-up{
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
 }
 .call-up-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
    background: #ffffff;
 }
 .call-up-box ion-icon{
    font-size: 5em;
    color: var(--primary);
 }
 .call-up-box h4{
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
 }
 .call-up-box p{
    font-weight: 300;
 }
 .about{
    padding: 100px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
 }
 .about .left1,
 .about .right1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
 }
 .promotion,
 .discovery{
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 1px;
 }
 
 .style,
 .collection{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 50px;
 }
 .about-box{
    overflow: hidden;
 }
 .about-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    object-fit: cover;
    object-position: center;
    transition: 1s;
 }
 .about-box:hover img{
    transform: scale(1.1);
 }


 .about-box::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
 }
 .about-box:hover::after{
    background: rgba(0, 0, 0, 0.2);
 }

 .about .description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 900;
 }
 .about .description h4{
    position: relative;
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
 }
 .about .description h4::after{
    position: absolute;
    content: '';
    background: var(--primary);
    bottom: -10px;
    left: 0;
    width: 70%;
    height: 3px;
 }
 .about .description p{
   color: #ffffff;
   letter-spacing: 1px;
   font-weight: 300; 
 }
 .about a{
    position: relative;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: 0.5s;
 }
 .about a:hover{
   gap: 10px;
   color: var(--primary); 
 }
 /*Catalogo*/
img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.scroll{
    background-color: aliceblue;
    box-shadow: .1rem .2rem .3rem #333;
}
.scroll img{
    filter: invert(15%);
}           
.scroll h1{
    color: #000000;
}
.carrito{
    filter: invert(100%);
    width: 45px;
    height: auto;
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
    
    
}
.contenedor>div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    background-color: #eee;
}
.contenedor>div:hover{
    background-color: #ff0051;
}

.informacion{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
}
.informacion>p:first-child{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: black;
}
.informacion .precio {
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.informacion .precio span{
    font-size: 17px;
    font-weight: 300;
}
.informacion button{
    background-color: #ff0051;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;

    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}
.informacion button:hover{
    background-color: #f890b1;
}
 /*Modal de collares de perro*/
.modal12{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}


.modal--show12{
    opacity: 1;
    pointer-events: unset;
}

.modal_close12{
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    background: #ea402d;
    color: white;
    border-radius: 30px;
}

/*Modal 2 collar*/
.modal13{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}
.modal--show13{
    opacity: 1;
    pointer-events: unset;
}

.modal_close13{
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    background: #ea402d;
    color: white;
    border-radius: 30px;
}
/*Modal 3 collar*/
.modal14{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}


.modal--show14{
    opacity: 1;
    pointer-events: unset;
}

.modal_close14{
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    background: #ea402d;
    color: white;
    border-radius: 30px;
}
/*Modal 1 pañuelo*/
.modal15{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}


.modal--show15{
    opacity: 1;
    pointer-events: unset;
}

.modal_close15{
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    background: #ea402d;
    color: white;
    border-radius: 30px;
}

/*Modal 2 pañuelo*/
.modal16{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}


.modal--show16{
    opacity: 1;
    pointer-events: unset;
}

.modal_close16{
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    background: #ea402d;
    color: white;
    border-radius: 30px;
}
/*Modal 3 pañuelo*/
.modal17{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}


.modal--show17{
    opacity: 1;
    pointer-events: unset;
}

.modal_close17{
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    background: #ea402d;
    color: white;
    border-radius: 30px;
}
/*Modal 1 arnes*/
.modal18{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}


.modal--show18{
    opacity: 1;
    pointer-events: unset;
}

.modal_close18{
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    background: #ea402d;
    color: white;
    border-radius: 30px;
}
/*Modal 2 arnes*/
.modal19{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}


.modal--show19{
    opacity: 1;
    pointer-events: unset;
}

.modal_close19{
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    background: #ea402d;
    color: white;
    border-radius: 30px;
}
/*Modal 3 arnes*/
.modal20{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}


.modal--show20{
    opacity: 1;
    pointer-events: unset;
}

.modal_close20{
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    background: #ea402d;
    color: white;
    border-radius: 30px;
}

/*Modal 1 sueter*/
.modal21{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}


.modal--show21{
    opacity: 1;
    pointer-events: unset;
}

.modal_close21{
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    background: #ea402d;
    color: white;
    border-radius: 30px;
}

/*Modal 2 sueter*/
.modal22{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}


.modal--show22{
    opacity: 1;
    pointer-events: unset;
}

.modal_close22{
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    background: #ea402d;
    color: white;
    border-radius: 30px;
}

/*Modal 3 sueter*/
.modal23{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}


.modal--show23{
    opacity: 1;
    pointer-events: unset;
}

.modal_close23{
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    background: #ea402d;
    color: white;
    border-radius: 30px;
}

.container{
    max-width: 75%;
    margin: auto;
    height: 88vh;
    background: white;
    box-shadow: 5px 5px 10px 3px #ff0051;
   
}


.left, .rigth{
    width: 50%;
    padding: 30px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.flex1{
    display: flex;
}
.main_image{
    width: auto;
    height: auto;
}
.option img{
    width: 75px;
    height: 75px;
    padding: 10px;
}

h3 {
  color: #af827d;
  margin: 20px 0 20px 0;
  font-size: 25px;
}

h5,
p,
small {
  color: #837D7C;
}

h4 {
  color: red;
}

p {
  line-height: 25px;
}

h5 {
  font-size: 15px;
}

label,
.add span,
.color span {
  width: 25px;
  height: 25px;
  background: #000;
  border-radius: 50%;
  margin: 20px 10px 20px 0;
}

.color span:nth-child(2) {
  background: #EDEDED;
}

.color span:nth-child(3) {
  background: #D5D6D8;
}

.color span:nth-child(4) {
  background: #EFE0DE;
}

.color span:nth-child(5) {
  background: #AB8ED1;
}

.color span:nth-child(6) {
  background: #F04D44;
}

.add label,
.add span {
  background: none;
  border: 1px solid #C1908B;
  color: #C1908B;
  text-align: center;
  line-height: 25px;
}

.add label {
  padding: 10px 30px 0 20px;
  border-radius: 50px;
  line-height: 0;
}

button {
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    background: #C1908B;
    color: rgb(35, 32, 32);
    border-radius: 30px;
  }



@media only screen and (max-width:768px) {
  .container {
    max-width: 90%;
    margin: auto;
    height: auto;
  }

  .left, .right {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}

@media only screen and (max-width:511px) {
  .container {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }

  .left, .right {
    padding: 0;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .option {
    display: flex;
    flex-wrap: wrap;
  }
}
/*Banner Promocion*/
.banner-descuent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-descuent .banner23{
    background:linear-gradient(-55deg, #ff7675 29%, #d63031 29.1%, #d63031 68%, #ff7675 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
}

.banner-descuent .banner23 .gatodes{
    flex:1 1 250px;
    padding:15px;
    text-align: center;
}

.banner-descuent .banner23 .perrodes img{
    width:80%;
}

.banner-descuent .banner23 .content1{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}

.banner-descuent .banner23 .content1 span{
    color:#eee;
    font-size: 25px;
}

.banner-descuent .banner23 .content1 h3{
    color:#fff;
    font-size: 40px;
}

.banner-descuent.banner23 .content1 p{
    color:#eee;
    font-size: 20px;
    padding:10px 0;
}

.banner-descuent.banner23 .content1 .btn{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #fff;
    color:#d63031;
    margin:5px auto;
    text-decoration: none;
}

.banner-descuent .banner23 .women{
    position: relative;
    bottom: -33px;
    padding:10px;
    flex:1 1 250px;
}

.banner-descuent .banner23 .women img{
    width:100%;
}

@media (max-width:768px){
    .banner-container .banner .women{
        display: none;
    }
}








