body {
  background-image: url("/assets/img/fondo.jpeg"); /* Cambia la ruta a la ubicación de tu imagen */
  background-color: #f890b1; /* Color de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

/* Estilos adicionales para el carrito y la página de compra */
#cartContent img,
#detallesCompra img {
  width: 14vw;
  height: 14vw;
  position: relative;
  top: 5rem;
  left: 4%;
  border-radius: 10%;
}

#cartContent h3,
#detallesCompra h3 {
  font-size: 22pt;
  position: relative;
  left: 45%;
  bottom: 8rem;
}

#cartContent h4,
#detallesCompra h4 {
  font-size: 18pt;
  position: relative;
  top: 7.5rem;
  left: 5%;
}

#cartContent p,
#detallesCompra p {
  font-size: 16pt;
  position: relative;
  left: 45%;
  bottom: 10rem;
  width: 50%;
  word-wrap: break-word;
}

#detallesCompra {
  position: relative;
  bottom: 5rem;
  color: black;
  border: 6px solid black;
}

/* Ajustes para la posición de la imagen en el carrito */
#cartContent div {
  position: relative;
}

#cartContent div img {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 80px;
  height: auto;
}

/* Estilos para el botón "Pagar Producto" */
#pagarProducto {
  background-color: #ff0051;
  color: white;
  padding: 1rem 1rem;
  font-size: 14pt;
  border-radius: 3rem;
  position: absolute;
  border: none;
  left: 86%;
  top: 35rem;
  cursor: pointer; /* Añadido: Cambia el cursor al pasar por encima */
}

#pagarProducto:hover {
  background-color: #ff0051;
}

/* Estilos para los subtítulos */
.subtitulo1 {
  font-size: 24pt;
  position: relative;
  top: 3rem;
  left: 7%;
  font-weight: bold;
}

.subtitulo2 {
  font-size: 24pt;
  position: relative;
  font-weight: bold;
  margin-bottom: 5px;
  left: 5%;
  top: 47%;
}
